<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="/home/bongani/Desktop/stlink/st-flash"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="write /media/FAT32/GIT/alarm-controller/Alarm\ Controller/alarm_controller.bin 0x8000000"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="/home/bongani/Desktop/stlink"/>
</launchConfiguration>
